.banner {
  overflow: hidden;
  margin-bottom: -250px;
  mask-image: linear-gradient(black, transparent);
}
.banner > img {
  object-fit: contain;
}
.home__banner {
  width: 100%;
  height: fit-content;
}
.banner_carousel {
  display: inline-flex;
  transition: 0.5s ease;
  z-index: -1;
}
.home {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
  min-width: 1000px;
}
.home__row {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  z-index: 1;
}
.carosel__ArrowF {
  z-index: 3;
  position: fixed;
  top: 80px;
  right: 20px;
  color: black;
  padding: 90px 12px;
}
.carosel__ArrowB {
  z-index: 3;
  position: fixed;
  top: 80px;
  left: 20px;
  color: black;
  padding: 90px 12px;
}
.carosel__ArrowF:hover,
.carosel__ArrowB:hover {
  outline: 1px solid #fdfdf5;
  cursor: pointer;
}
