.Items {
  display: flex;
  background-color: white;
  min-width: 1000px;
  min-height: 100vh;
}
.Items__banner {
  background-color: #232f3e;
}
.Items__left {
  float: left;
  display: flex;
  flex-direction: column;
  margin: 10px;
  border-right: 2px solid #ddd;
  padding: 10px;
  width: 15%;
  background-color: white;
}
.Items__left > p {
  margin: 6px 0;
  cursor: pointer;
}
.Items__left > p:hover {
  color: #dfab3b;
}
.Items__right {
  width: 85%;
  margin: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
}
