.Item {
  display: flex;
  margin: 5px;
  width: 280px;
  min-width: 250px;
  padding: 15px;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: 1px solid #eee;
  border-bottom: 2px solid rgb(205, 203, 203);
}
.Item > img {
  width: 70%;
  object-fit: contain;
  margin-bottom: 10px;
  flex: 0.7;
}
.to__cart {
  background-color: #ffd814;
  border: none;
  border-radius: 8px;
  padding: 8px;
  font-size: 12px;
  cursor: pointer;
}
.to__cart:hover {
  background-color: #e6c41fe6;
}
.Item__info {
  margin-bottom: 20px;
  flex: 0.3;
}
.Item__title:hover {
  color: #dfab3b;
  cursor: pointer;
}
.Item__price {
  padding: 5px;
}
.Item__stars {
  display: flex;
}
