.product {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 15px;
  border: none;
  padding: 20px;
  max-width: 250px;
  height: 400px;
  max-height: 410px;
  background-color: white;
  z-index: 1;
}
.product__info {
  width: 100%;
  margin-left: 10px;
}
.product__head {
  padding: 10px 5px;
}
.product__image {
  height: 80%;
  max-height: 90%;
  max-width: 90%;

  object-fit: cover;
}
.product__Link {
  width: 100%;
  margin: 12px 0px;
  color: #246b77;
}
.product__Link:hover {
  color: #dfab3b;
  text-decoration: underline;
}
