.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border: none;
  padding: 14px;
  max-width: 270px;
  height: 370px;
  max-height: 400px;
  background-color: white;
  z-index: 1;
}
.product__info {
  width: 100%;
  margin-left: 10px;
  margin-bottom: 10px;
}
.product__head {
  padding: 10px 0px;
  margin: 0px;
}

.product__image_link > img {
  height: 300px;
  max-height: 350px;
  max-width: 250px;
  object-fit: cover;
}
.product__Link {
  width: 100%;
  margin: 14px 0px;
  color: #246b77;
  text-decoration: none;
  font-size: small;
}
.product__Link:hover {
  color: #dfab3b;
  text-decoration: underline;
}
